/*
 Variables
*/
* {
  box-sizing: border-box; }

.desktop .mobile,
.mobile .desktop {
  display: none; }

#main_wrapper {
  max-width: 1020px;
  margin: 0 auto; }

/*
 * Top Nav
 */
.nav-top {
  height: 50px;
  background-color: yellow;
  width: 100%; }
  .nav-top.desktop {
    /*position:fixed;*/
    max-width: 1020px; }
    .nav-top.desktop .left {
      float: left; }
    .nav-top.desktop ul {
      display: inline-block;
      float: right;
      height: 100%;
      padding-top: 15px; }
      .nav-top.desktop ul li {
        display: inline-block;
        margin-right: 10px; }

.bucket {
  border: 1px solid black; }
  .bucket h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px; }
  .bucket h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px; }
  .bucket h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; }

/*
  Modal
*/
div.request_quote {
  position: relative; }
  div.request_quote div.modalCover {
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 10;
    position: absolute;
    display: none; }
    div.request_quote div.modalCover .bk {
      background-color: black;
      opacity: 0.7;
      width: 100%;
      height: 100%; }
    div.request_quote div.modalCover .spinner {
      position: absolute;
      width: 56px;
      height: 21px;
      background-image: url("img/loadBar.gif");
      left: 50%;
      top: 50%;
      margin-left: -28px;
      margin-top: -10.5px;
      z-index: 11; }

/*
 * Hero Slider
 */
#hero_bucket {
  min-height: 420px;
  background-color: white; }
  #hero_bucket .liquid-slider {
    max-height: 420px; }
    #hero_bucket .liquid-slider > div {
      text-align: center;
      min-height: 420px; }
    #hero_bucket .liquid-slider h2 {
      font-size: 30px;
      margin-top: 1em;
      margin-bottom: 1em; }
    #hero_bucket .liquid-slider p {
      text-align: left;
      width: 60%;
      margin: 0 auto; }
    #hero_bucket .liquid-slider .panel {
      height: 420px; }

/*
 * Request a Quote
 */
.request_quote {
  min-height: 350px;
  background-color: orange; }

/*
 * Ad Bucket
 */
.ad_bucket {
  height: 140px;
  background-color: purple; }

/*
 * Services
 */
#services_bucket {
  min-height: 350px; }
  #services_bucket .col {
    display: inline-block; }
    #services_bucket .col.left {
      width: 20%;
      float: left; }
      #services_bucket .col.left a {
        background-color: grey;
        color: black;
        width: 70%;
        padding: 5px 0;
        margin: 0 auto 10px auto;
        text-align: center;
        display: block;
        text-decoration: none; }
        #services_bucket .col.left a:hover {
          background-color: darkgray;
          color: black; }
    #services_bucket .col.right {
      width: 80%; }
  #services_bucket .liquid-slider > div {
    height: 350px; }
    #services_bucket .liquid-slider > div img {
      float: left;
      margin-right: 20px; }

/*
 * Products
 */
#products_bucket {
  min-height: 350px;
  background-color: lime; }
  #products_bucket .liquid-slider {
    max-height: 350px; }
    #products_bucket .liquid-slider > div {
      text-align: center;
      min-height: 350px; }
    #products_bucket .liquid-slider h2 {
      font-size: 30px;
      margin-top: 1em;
      margin-bottom: 1em; }
    #products_bucket .liquid-slider p {
      text-align: left;
      width: 60%;
      margin: 0 auto; }
    #products_bucket .liquid-slider .panel {
      height: 350px; }

/*
 * About
 */
#about_bucket {
  min-height: 350px; }
  #about_bucket .col {
    display: inline-block; }
    #about_bucket .col.left {
      width: 20%;
      float: left; }
      #about_bucket .col.left a {
        background-color: grey;
        color: black;
        width: 70%;
        padding: 5px 0;
        margin: 0 auto 10px auto;
        text-align: center;
        display: block;
        text-decoration: none; }
        #about_bucket .col.left a:hover {
          background-color: darkgray;
          color: black; }
    #about_bucket .col.right {
      width: 80%; }
  #about_bucket .liquid-slider > div {
    height: 350px; }
    #about_bucket .liquid-slider > div img {
      float: left;
      margin-right: 20px; }

/*
 * Clients
 */
#clients_bucket {
  min-height: 350px; }
  #clients_bucket li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    margin-botton: 20px;
    background-color: grey;
    padding: 10px;
    width: 100px;
    text-align: center; }

/*
 * FAQ
 */
#faq_bucket {
  min-height: 350px;
  background-color: salmon; }

/*
 * Contact
 */
.contact_bucket {
  min-height: 350px;
  background-color: deepskyblue; }

/*
 * Footer
 */
.footer_bucket {
  min-height: 50px;
  background-color: cadetblue; }
